[submodule "hugo/themes/hugo-coder"]
	path = hugo/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "hugo/themes/hugo-admonitions"]
	path = hugo/themes/hugo-admonitions
	url = https://github.com/KKKZOZ/hugo-admonitions.git
